<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
    <button type="button" class="close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="Panel" #form [formGroup]="addGroupForm">
      <div class="form-group">
        <label for="name" class="col-form-label" >Group Name:</label>
        <input id="name"  class="form-control"  type="text" name="group" placeholder="Group Name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="image" class="col-form-label">Add Image:</label>
        <input id="image" type="file"  class="form-control-file"  name="group" accept="image/x-png,image/gif,image/jpeg" formControlName="image">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!addGroupForm?.valid || !addGroupForm.dirty" type="submit"
            (click)="submitClick()">
      Submit
    </button>
  </div>
</div>
