<app-chat-header-component></app-chat-header-component>
<div class="col-md-12" style="margin-top: 20px;">
  <div class="col-md-12">
    <div class="chat_container">
      <div style="display: flex; justify-content: space-between">
        <dx-tab-panel
          #tabPanel
          [height]="100 + '%'"
          [dataSource]="chatTypes"
          [selectedIndex]="0"
          [loop]="false"
          [animationEnabled]="true"
          [swipeEnabled]="true"
        >
          <div *dxTemplate="let type of 'title'">
            <span>{{type.name}}</span>
          </div>
          <div *dxTemplate="let type of 'item'">
            <div *ngIf="type.id === 1">
              <div *ngFor="let group of publicGroups" class="category-list"
                   [ngClass]="{'category-current': isCurrentlyActiveGroup(group)}">
                <div style="padding: 10px">
                  <div class="thumbnail">
                    <img alt="">
                    <div class="caption">
                      <h4>{{group?.groupName}}</h4>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <p>
                            {{group?.clinicName}}
                          </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <button *ngIf="isMyGroup(group)" [disabled]="isCurrentlyActiveGroup(group)"
                                  class="btn add-fav" (click)="onJoinPublicGroup(group)">
                            Join
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="type.id=== 2">
              <div *ngFor="let user of users" class="category-list"
                   [ngClass]="{'category-current': isCurrentlyActiveUser(user)}">
                <div *ngIf="!isMyUser(user._id)" class="caption">
                  <h4>{{user?.email}}</h4>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <button [disabled]="isCurrentlyActiveUser(user)"
                              class="btn add-fav" (click)="onCreateJoinPrivateGroup(user)">
                        Private Chat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dx-tab-panel>
        <div class="col-sm-5 col-md-6 message_section">
          <div class="row">
            <div class="new_message_head">
              <div class="pull-left">
                <button class="club_name">
                  Group Name: {{this.activeGroup?.groupName}}
                </button>
              </div>
              <div class="pull-right">
              </div>
            </div>
            <div *ngIf="messages && messages.length > 0" class="chat_area">
              <div class="message-container" [ngClass]="{'chat-message': message.senderId !== myUserId,
                  'chat-message-me': message.senderId === myUserId}" *ngFor="let message of messages">
                <img src="assets/images/placeholder.png" alt="" style="width:100%;">
                <div class="text-area">
                  <span class="top">{{message.message}}</span>
                  <div class="text-bottom-area">
                    <span class="bottom" style="margin-right: 5px;">{{message.senderNicName}}</span>
                    <span class="bottom">{{message.timeStamp}}</span>
                  </div>
                </div>
                <button *ngIf="message.senderId === myUserId" class="btn-close" (click)="onDeleteMessage(message)">
                  <i class="fa fa-close"></i>
                </button>
              </div>
            </div>
            <div class="message_write">
              <form [formGroup]="msgForm" id="message-form">
                <textarea class="form-control" formControlName="message" id="msg"
                          placeholder="Type a message"></textarea>
                <div class="clearfix"></div>
                <div class="chat_bottom">
                  <button id="send-message" class="pull-right btn btn-primary" (click)="onSendToGroup()"
                          style="background: #4aa1f3; border: #4aa1f3; ">
                    Send
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-left: 20px;">
          <div style="width: 100%">
            <div class="card-container">
              <div class="card">
                <div class="front">
                  <div class="content main-scroll">
                    <div class="main" id="main_scroll">
                      <p class="friends" style="margin-bottom:0px;">
                        Invite Member<span id="numOfFriends"></span>
                      </p>
                      <hr style="margin-top:10px"/>
                      <div class="onlineFriends">
                        <div *ngFor="let user of users" class="col-md-12">
                          <div *ngIf="!isMemberOfCurrentGroup(user)" class="user-online">
                            <button class="btn" (click)="onAddGroupMember(user)">
                              <i class="fa fa-user-plus" aria-hidden="true"
                                 style="padding-right:15px; color:#4aa1f3 !important;"></i>
                              <i *ngIf="isUserOnline(user)" class="fa fa-circle online" aria-hidden="true"></i>
                            </button>
                            <div style="align-self: center">{{user.email}}</div>
                            <button class="btn btn-outline-primary">Private Chat</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 100%">
            <div class="new_message_head">
              <div class="pull-left">
                <button class="club_fans">
                  <i class="fa fa-users" aria-hidden="true" style="padding-right:15px; color:#4aa1f3 !important;"></i>
                  Online Group Users <span id="numValue"></span>
                </button>
              </div>
            </div>
            <div class="gr-rightsidebar">
              <div *ngFor="let user of groupMembers" class="col-md-12" id="main">
                <h4 class="profession-online">
                  <i *ngIf="user.isOnline" class="fa fa-group online" aria-hidden="true"></i>
                  <i *ngIf="!user.isOnline" class="fa fa-group offline" aria-hidden="true"></i>
                  <button *ngIf="!isMyUser(user._id)" class="btn" (click)="onRemoveGroupMember(user)">
                    <i class="fa fa-minus" aria-hidden="true" style="padding-right:15px; color:#4aa1f3 !important;"></i>
                  </button>
                  {{getMemberName(user)}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



