<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand mx-auto" href="#">AddaTech-Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <button class="btn" (click)="onLogOut()"><i class="fa fa-sign-out" style="color: white"></i></button>
    </li>
    <li class="nav-item dropdown" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        Dropdown <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" (click)="onAddGroup()">Add Group</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else
          here</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="col-md-12">
  <div class="form-group ad-30" style="margin-top:8px;">
    <div class="input-group search-style">
      <input class="form-control new-search-bar" name="country" id="search" placeholder="Enter Your Group Name"
             type="text">
      <span class="input-group-btn">
          <button class="btn input-btn" [disabled]="!this.dataModel" type="button"
                  id="search-form">Search</button>
      </span>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <div class="filter-container">
        <div class="card">
          <form action="#" method="post">
            <div class="content">
              <p class="filter">
                Filter by Clinic
              </p>
              <hr/>
              <ngx-select-dropdown [config]="config" [options]="dropdownOptions"
                                   (change)="clinicsDropDownSelectionChanged($event)"
                                   [multiple]="false">
              </ngx-select-dropdown>
              <button class="btn add-apply" [disabled]="!this.dataModel" (click)="onSelectByClinic()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-list">
        <div *ngFor="let group of chatGroups" class="item col-md-4">
          <div class="thumbnail">
            <img alt="">
            <div class="caption">
              <h4>{{group.groupName}}</h4>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p>
                    {{group.clinicName}}
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <button class="btn add-fav" [routerLink]="['/chat', group._id]">
                    Connect
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
